Node-red_iot-2040_Logo_WeeklyTimer_V0.1.json
[{"id":"284b48ab.3d7108","type":"tab","label":"Flow 1"},{"id":"495a51d3.caca8","type":"modbus-flex-getter","z":"284b48ab.3d7108","name":"Modbus RTU Getter","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"78500d39.b753c4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":662.0000076293945,"y":408.0000057220459,"wires":[["4545d9a3.d38aa8"],[]]},{"id":"2344d28.da6152e","type":"function","z":"284b48ab.3d7108","name":"Voltage","func":"msg.payload = { value: msg.payload, 'fc': 4, 'unitid': 2, 'address': 0 , 'quantity': 2 };\nmsg.topic=\"voltage\";\nreturn msg;","outputs":1,"noerr":0,"x":489.00000762939453,"y":262.00000381469727,"wires":[["495a51d3.caca8"]]},{"id":"c4cf88f.3936978","type":"function","z":"284b48ab.3d7108","name":"Kitchen Temperature ","func":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 100 , 'quantity': 2 };\nmsg.topic=\"kitchtemp\";\nreturn msg;","outputs":1,"noerr":0,"x":396.00000762939453,"y":384.0000047683716,"wires":[["495a51d3.caca8"]]},{"id":"9885032e.62de7","type":"inject","z":"284b48ab.3d7108","name":"Interval sensor control","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"0.1","x":150,"y":330.00000381469727,"wires":[["d731ce56.5cf3","e6568ad5.e8f138","1d0950bf.c819df","5855669a.4f4438","f1b40573.3fbff8"]]},{"id":"4545d9a3.d38aa8","type":"function","z":"284b48ab.3d7108","name":"Convert to Float","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\ntemp=parseFloat(fltView[0].toFixed(2));\nmsg.payload = temp;\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + temp});    \nreturn msg;","outputs":1,"noerr":0,"x":870.0000152587891,"y":410.0000057220459,"wires":[["a7ab0336.f6706"]]},{"id":"79a1c949.495898","type":"debug","z":"284b48ab.3d7108","name":"","active":true,"console":"false","complete":"false","x":1085.000015258789,"y":327.0000023841858,"wires":[]},{"id":"a7ab0336.f6706","type":"function","z":"284b48ab.3d7108","name":"JSON for Sensors","func":"watch_topic = \"voltage\";\nvar output = {};\n\ncontext.set(msg.topic,msg.payload);\n\nif (context.get(\"kitchtemp\")!==undefined) {\n    output.kitchtemp = context.get(\"kitchtemp\");\n}\nif (context.get(\"humidit\")!==undefined) {\n    output.kitchhumid = context.get(\"humidit\");\n}\nif (context.get(\"voltage\")!==undefined) {\n    output.voltage = context.get(\"voltage\");\n}\nif (context.get(\"energy\")!==undefined) {\n    output.energy = context.get(\"energy\");\n}\nif (context.get(\"devicestatus\")!==undefined) {\n    output.devicestatus = context.get(\"devicestatus\");\n}\n\nif (msg.topic===watch_topic) {\n    msg.payload = output;\n    msg.topic = \"TST/TSH/Energy\";\n    return msg;\n}","outputs":1,"noerr":0,"x":854.0000076293945,"y":331.00000381469727,"wires":[["79a1c949.495898","6640beae.e9848"]]},{"id":"5b80a10b.b8881","type":"function","z":"284b48ab.3d7108","name":"Kitchen Humidity ","func":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 3, 'address': 102 , 'quantity': 2 };\nmsg.topic=\"humidit\";\nreturn msg;","outputs":1,"noerr":0,"x":385.00000381469727,"y":425.0000066757202,"wires":[["495a51d3.caca8"]]},{"id":"d731ce56.5cf3","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368.00000762939453,"y":468.0000066757202,"wires":[["5b80a10b.b8881"]]},{"id":"e6568ad5.e8f138","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":373.00000381469727,"y":342.00000381469727,"wires":[["c4cf88f.3936978"]]},{"id":"6640beae.e9848","type":"mqtt out","z":"284b48ab.3d7108","name":"","topic":"/v1.6/devices/iot-2040","qos":"1","retain":"","broker":"d8801ed8.e0df5","x":1131.000015258789,"y":409.0000057220459,"wires":[]},{"id":"da28b8b4.a370f8","type":"inject","z":"284b48ab.3d7108","name":"Every 20 Minutes send fake data","topic":"","payload":"","payloadType":"date","repeat":"1200","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":583.0000076293945,"wires":[["2f38572e.358ce8"]]},{"id":"14866752.c7f829","type":"function","z":"284b48ab.3d7108","name":"Fake Time Send","func":"msg.payload=70;\nmsg.topic=\"devicevr\";\nreturn msg;","outputs":1,"noerr":0,"x":620.0000076293945,"y":584.0000076293945,"wires":[["de9ea512.800f38"]]},{"id":"d1d66a3f.1fcea8","type":"function","z":"284b48ab.3d7108","name":"Force Device Online","func":"msg.payload=0;\nmsg.topic=\"devicestatus\";\nreturn msg;","outputs":1,"noerr":0,"x":519.0000076293945,"y":518.0000076293945,"wires":[["a7ab0336.f6706"]]},{"id":"87af1e89.e11e","type":"inject","z":"284b48ab.3d7108","name":"Triggering after 30 Mins","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":157,"y":756.0000114440918,"wires":[["b75e720b.ea9bf","b017c5e1.b21598","132fb5cc.99231a","813c1b54.168528"]]},{"id":"9b1adf0b.1b329","type":"function","z":"284b48ab.3d7108","name":"Fake Energy","func":"let pay = msg.payload;\nmsg.payload=pay;\nmsg.topic=\"energy\";\nreturn msg;","outputs":1,"noerr":0,"x":662.0000076293945,"y":190.00000190734863,"wires":[["a7ab0336.f6706"]]},{"id":"f71d1719.c443f8","type":"inject","z":"284b48ab.3d7108","name":"22:00 to 00:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/30 19-23 * * *","once":false,"onceDelay":0.1,"x":299,"y":1449.0000133514404,"wires":[["965ad6ae.1fbca8"]]},{"id":"5855669a.4f4438","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":322.00002670288086,"y":193.00000190734863,"wires":[["82a1d912.a80428"]]},{"id":"965ad6ae.1fbca8","type":"function","z":"284b48ab.3d7108","name":"Reset Counter","func":"msg.payload=0;\nmsg.topic=\"reset\";\nreturn msg;","outputs":1,"noerr":0,"x":542.6000785827637,"y":1452.0000133514404,"wires":[["cf275c89.1a17","78ded8c.bce8528"]]},{"id":"1d0950bf.c819df","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":312.6000061035156,"y":515.0000076293945,"wires":[["d1d66a3f.1fcea8"]]},{"id":"cf275c89.1a17","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740.6000595092773,"y":1420.0000114440918,"wires":[[]]},{"id":"de9ea512.800f38","type":"function","z":"284b48ab.3d7108","name":"Turn to JSON","func":"watch_topic = \"devicevr\";\nvar output = {};\n\ncontext.set(msg.topic,msg.payload);\n\nif (context.get(\"devicevr\")!==undefined) {\n    output.devicevr = context.get(\"devicevr\");\n}\n\nif (msg.topic===watch_topic) {\n    msg.payload = output;\n    msg.topic = \"Fake\";\n    return msg;\n}","outputs":1,"noerr":0,"x":814.0000114440918,"y":585.0000076293945,"wires":[["6714cc42.d28914","6640beae.e9848"]]},{"id":"6714cc42.d28914","type":"debug","z":"284b48ab.3d7108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1025.6000595092773,"y":583.0000095367432,"wires":[]},{"id":"2f38572e.358ce8","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":424.6000518798828,"y":585.0000076293945,"wires":[["14866752.c7f829"]]},{"id":"f1b40573.3fbff8","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":323,"y":260.0000009536743,"wires":[["2344d28.da6152e"]]},{"id":"cf78ac24.19a95","type":"inject","z":"284b48ab.3d7108","name":"00:00 to 07:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/30 0-3 * * *","once":false,"onceDelay":0.1,"x":304,"y":1543,"wires":[["965ad6ae.1fbca8"]]},{"id":"82a1d912.a80428","type":"function","z":"284b48ab.3d7108","name":"Random","func":"msg.payload=Math.floor(Math.random() * 10) + 1;\nreturn msg;","outputs":1,"noerr":0,"x":488.00000762939453,"y":192.00000190734863,"wires":[["9b1adf0b.1b329"]]},{"id":"7e5aa3ca.bb424c","type":"function","z":"284b48ab.3d7108","name":"data of Calculation","func":"watch_topic = \"cu_w0\";\nvar cubyte0;\nvar cubyte1;\nvar cdbyte0;\nvar cdbyte1;\nvar output={};\n\nvar door1in=context.get('door1in') || 0;\nvar door1out=context.get('door1out') || 0;\n\n\ncontext.set(msg.topic, msg.payload);\n\nif(context.get(\"cu_w0\")!==undefined){\n    cubyte0 = context.get(\"cu_w0\");\n}\nif(context.get(\"cu_w1\")!==undefined){\n    cubyte1 = context.get(\"cu_w1\");\n}\nif(context.get(\"cd_w0\")!==undefined){\n    cdbyte0 = context.get(\"cd_w0\");\n}\nif(context.get(\"cd_w1\")!==undefined){\n    cdbyte1 = context.get(\"cd_w1\");\n}\n\n\nif (msg.topic===watch_topic){\n    output.door1in=((65535*cubyte0)+cubyte0)+cubyte1;\n    context.set('door1in',door1in);\n    output.door1out=(65535*cdbyte0)+cdbyte1;\n    context.set('door1out',door1out);\n    if(door1in<door1out){\n        output.occupancy=0;\n    }else{\n        output.occupancy=(output.door1in-output.door1out);\n    }\n    msg.payload = output;\n    msg.topic = \"CTU/CTD\";\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":853.0000648498535,"y":850.0000152587891,"wires":[["bde0cb7.4efb538","6640beae.e9848"]]},{"id":"b017c5e1.b21598","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":184.6000099182129,"y":917.0000133514404,"wires":[["f396a6ab.46bbf8"]]},{"id":"813c1b54.168528","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":189.6000099182129,"y":1036.0000190734863,"wires":[["7a662d31.a05254"]]},{"id":"132fb5cc.99231a","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"450","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180.6000099182129,"y":978.0000171661377,"wires":[["e74f97a.a312d68"]]},{"id":"bde0cb7.4efb538","type":"debug","z":"284b48ab.3d7108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1075.6000175476074,"y":788.0000171661377,"wires":[]},{"id":"f396a6ab.46bbf8","type":"function","z":"284b48ab.3d7108","name":"CU-Byte-1","func":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 1 , 'quantity': 1 };\nmsg.topic=\"cu_w1\";\nreturn msg;","outputs":1,"noerr":0,"x":381.0000305175781,"y":927.0000333786011,"wires":[["2ab781cf.b63b3e"]]},{"id":"2ab781cf.b63b3e","type":"modbus-flex-getter","z":"284b48ab.3d7108","name":"Modbus TCP","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"78d1a1a6.672bc","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":560.6000099182129,"y":941.0000171661377,"wires":[["73b56743.dfdfe8"],[]]},{"id":"701b17f4.4541a8","type":"function","z":"284b48ab.3d7108","name":"CU-Byte-0","func":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 1 };\nmsg.topic=\"cu_w0\";\nreturn msg;","outputs":1,"noerr":0,"x":380.00000762939453,"y":870.0000152587891,"wires":[["2ab781cf.b63b3e"]]},{"id":"b75e720b.ea9bf","type":"delay","z":"284b48ab.3d7108","name":"","pauseType":"delay","timeout":"350","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":191.00000381469727,"y":862.0000152587891,"wires":[["701b17f4.4541a8"]]},{"id":"e74f97a.a312d68","type":"function","z":"284b48ab.3d7108","name":"CD-Byte-0","func":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 2 , 'quantity': 1 };\nmsg.topic=\"cd_w0\";\nreturn msg;","outputs":1,"noerr":0,"x":382.0000114440918,"y":985.0000171661377,"wires":[["2ab781cf.b63b3e"]]},{"id":"7a662d31.a05254","type":"function","z":"284b48ab.3d7108","name":"CD-Byte-1","func":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 3 , 'quantity': 1 };\nmsg.topic=\"cd_w1\";\nreturn msg;","outputs":1,"noerr":0,"x":383.00000762939453,"y":1044.000018119812,"wires":[["2ab781cf.b63b3e"]]},{"id":"73b56743.dfdfe8","type":"function","z":"284b48ab.3d7108","name":"Convert to Float","func":"let pay = msg.payload;\nconst buf = Buffer.allocUnsafe(4);\nbuf.writeUInt16BE(pay[0]);\nmsg.payload = buf.readUInt16BE();\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n// var rawData = new ArrayBuffer(4);\n// var intView = new Uint16Array(rawData);\n// var fltView = new Float32Array(rawData);\n\n// intView[0] = msg.payload[1]; //low\n// intView[1] = msg.payload[0]; //high\n\n// temp=parseFloat(fltView[0].toFixed(2));\n// msg.payload = temp;\n   \n// return msg;","outputs":1,"noerr":0,"x":738.0000114440918,"y":941.0000162124634,"wires":[["7e5aa3ca.bb424c"]]},{"id":"78ded8c.bce8528","type":"function","z":"284b48ab.3d7108","name":"","func":"msg.payload={\"door1in\":0, \"door1out\":0, \"occupancy\":0};\nreturn msg;","outputs":1,"noerr":0,"x":745.6000595092773,"y":1513.0000162124634,"wires":[[]]},{"id":"78500d39.b753c4","type":"modbus-client","z":"","name":"Modbus RTU","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS2","serialType":"RTU-BUFFERD","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"d8801ed8.e0df5","type":"mqtt-broker","z":"","name":"","broker":"industrial.api.ubidots.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"78d1a1a6.672bc","type":"modbus-client","z":"","name":"Modbus TCP","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"10.100.1.75","tcpPort":"510","tcpType":"DEFAULT","serialPort":"/dev/ttyS2","serialType":"RTU-BUFFERD","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]